main {
  background-color: white;
  padding: 2rem;
  max-width: 20rem;
  min-width: 50%;

  #reservationsContainer {
    display: grid;
    gap: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  article {
    background-color: whitesmoke;
    padding: 0.8rem;
    height: 9rem;

    section {
      display: flex;
      justify-content: space-between;

      &:nth-of-type(1) {
        height: 60%;
        font-size: 1.2rem;

        button {
          height: fit-content;
        }
      }

      &:nth-of-type(2) {
        height: 20%;
        font-size: 1rem;
      }

      &:nth-of-type(3) {
        height: 20%;
        font-size: 1.05rem;
      }
    }
  }
}
