main {
  background-color: white;
  padding: 2rem;
  width: 40rem;

  #reservationsContainer {
    display: grid;
    gap: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  article {
    padding: 1rem;
    height: 9rem;
    border: 1px solid grey;
    border-radius: var(--border-radius);

    section {
      display: flex;
      justify-content: space-between;

      &:nth-of-type(1) {
        height: 60%;
        font-size: 1.2rem;

        p {
          font-weight: 500;
        }

        button {
          height: fit-content;
        }
      }

      &:nth-of-type(2) {
        height: 20%;
        font-size: 1rem;

        p {
          color: rgb(0, 0, 0, 0.5);
        }
      }

      &:nth-of-type(3) {
        height: 20%;
        font-size: 1.05rem;
      }
    }
  }
}
