body {
  display: grid;
  justify-content: center;

  #loguit-knop {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  header {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgb(230, 230, 230);
    align-items: center;
    justify-content: space-between;

    @media (max-width: 600px) {
      display: grid;
      gap: 1rem;
    }
  }

  main {
    background: white;
    width: 30rem;
    max-height: fit-content;

    #reservaties-container {
      display: grid;
    }

    details {
      padding: 1rem 2rem;

      summary {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;

        &::after {
          content: url(../assets/chevron-right.svg);
          position: absolute;
          cursor: pointer;
          height: -webkit-fill-available;
          left: 180px;
        }
      }

      section {
        display: flex;
        justify-content: space-between;

        &:nth-of-type(1) {
          height: 60%;
          font-size: 1.2rem;
          padding-top: 1rem;

          p {
            font-weight: 500;
          }

          button {
            height: fit-content;
          }
        }

        &:nth-of-type(2) {
          height: 20%;
          font-size: 1rem;

          p {
            color: rgb(0, 0, 0, 0.5);
          }
        }

        &:nth-of-type(3) {
          height: 20%;
          font-size: 1.05rem;
        }
      }

      &:nth-of-type(even) {
        background-color: rgb(230, 230, 230);
      }
    }

    details[open] > summary::after {
      transition: 0.3s;
      transform: rotate(90deg);
    }

    #pagination {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      button {
        font-size: 1rem;

        &:first-child {
          font-size: 1.5rem;
          width: 2rem;
        }

        &:last-child {
          font-size: 1.5rem;
          width: 2rem;
        }
      }
    }
  }
}

summary {
  list-style: none; /* Voor moderne browsers */
}

summary::-webkit-details-marker {
  display: none; /* Voor oudere Safari/Chrome versies */
}
