section {
  background: var(--tekst-kleur);
  border-radius: var(--border-radius);

  max-width: 55rem;
  min-height: 30rem;
  padding: 2rem;

  display: grid;
  grid-template-areas:
    "title title title"
    "sidebar inputs inputs";

  @media (max-width: 700px) {
    grid-template-areas:
      "title"
      "sidebar"
      "inputs";
  }

  header {
    grid-area: title;
    margin-top: 0.6rem;
    display: inline-flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    position: relative;
    min-width: 5rem;
    gap: 2rem;

    article.actief {
      background-color: var(--secundaire-kleur);
      transition: 0.4s;
      border: 0.1rem solid var(--tekst-kleur);
    }

    @media (max-width: 700px) {
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 2rem 0 2rem 0px;
    }

    &::after {
      content: "";
      display: block;
      height: 100%;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      transform: translateX(70%);
      width: 0.8rem;
      background-color: var(--secundaire-kleur);
      position: absolute;

      @media (max-width: 700px) {
        width: 100%;
        height: 0.8rem;
        transform: translateX(0%);
        border-radius: inherit;
      }
    }

    article {
      width: 2rem;
      position: relative;
      display: grid;
      place-items: center;
      border-radius: var(--border-radius);
      background-color: var(--tekst-kleur);
      z-index: 1;
      aspect-ratio: 1/1;
      border: 0.1rem solid var(--secundaire-kleur);

      &:after {
        content: "";
        bottom: 1.5px;
        position: absolute;

        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--tekst-kleur);
        -webkit-mask: url("../assets/check.svg") no-repeat center / contain;
        mask: url("../assets/check.svg") no-repeat center / contain;
      }
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    grid-area: inputs;
    padding-top: 1.5rem;
    gap: 1.5rem;

    @media (max-width: 700px) {
      flex-direction: column;
      padding: 0;
    }

    fieldset {
      width: 100%;
      padding: 1rem;
      display: flex;
      border-radius: var(--border-radius);
      gap: 1rem;

      @media (max-width: 700px) {
        flex-direction: column;
      }
    }

    label {
      display: inline-flex;
      flex-direction: column;
      gap: 0.3rem;
      width: 100%;
    }

    input,
    select {
      height: 2.5rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--primaire-kleur);
      padding: 0 0.4rem;
    }

    select {
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;

      &::after {
        content: "";
        display: block;
      }
    }
  }
}
