body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

form {
  background-color: var(--tekst-kleur);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
  padding: 2.5rem 1.5rem;
  gap: 1.5rem;

  header {
    display: grid;
    gap: 0.3rem;
  }

  fieldset {
    display: grid;
    padding: 1.5rem 1rem;
    gap: 1rem;

    label {
      display: grid;
      gap: 0.3rem;
    }

    div {
      display: grid;
      gap: 0.4rem;

      label {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      input[type="password"] {
        width: 100%;
      }
    }
  }
}
