:root {
  --primaire-kleur: hsl(0, 0%, 0%);
  --secundaire-kleur: hsl(272, 84%, 45%);
  --tertiaire-kleur: hsl(37, 83%, 47%);
  --tekst-kleur: hsl(0, 0%, 100%);

  --font-paragraaf-size: 1rem;
  --font-heading-size-xs: 1.2rem;
  --font-heading-size-s: 1.4rem;
  --font-heading-size-m: 1.6rem;
  --font-heading-size-l: 1.8rem;
  --font-heading-size-xl: 2rem;
  --font-heading-size-xxl: 2.2rem;

  --lijn-hoogte-paragraaf: 1.4;
  --lijn-hoogte-heading: 1.2;
  --border-radius: 0.2rem;

  --font-gill-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-gill-sans);
  background-color: var(--primaire-kleur);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 1.5rem;
}

p {
  line-height: var(--lijn-hoogte-paragraaf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lijn-hoogte-heading);
}

.font-paragraaf-size {
  font-size: var(--font-paragraaf-size);
}

.font-heading-size-xs {
  font-size: var(--font-heading-size-xs);
}

.font-heading-size-s {
  font-size: var(--font-heading-size-s);
}

.font-heading-size-m {
  font-size: var(--font-heading-size-m);
}

.font-heading-size-l {
  font-size: var(--font-heading-size-l);
}

.font-heading-size-xl {
  font-size: var(--font-heading-size-xl);
}

.font-heading-size-xxl {
  font-size: var(--font-heading-size-xxl);
}

input,
select {
  height: 2.5rem;
  padding: 0 0.6rem;
  font-size: 16px;
}

input {
}

input:focus,
select:focus {
  outline: none;
  border: 1.5px solid var(--secundaire-kleur);
}

form div:has(input:disabled),
form div:has(select:disabled) {
  opacity: 0.7;
}

button {
  background-color: var(--secundaire-kleur);
  border-radius: var(--border-radius);
  font-family: var(--font-gill-sans);
  color: var(--tekst-kleur);

  font-size: 1rem;
  border: none;
  padding: 0.5rem 2rem;
  max-width: max-content;
  cursor: pointer;
  font-weight: 500;
}

table {
  font-family: var(--font-gill-sans);
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: 400;
  background-color: var(--secundaire-kleur);
  color: white;
}
